<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RestaurantContextDB" connectionString="data source=KAARU\SQLEXPRESS;initial catalog=QUANLIQUANANDB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="QuanLiQuanAnA.Properties.Settings.QUANLIQUANANDBConnectionString"
      connectionString="Data Source=KAARU\SQLEXPRESS;Initial Catalog=QUANLIQUANANDB;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>